.app-container {
    background-color: #f8f9fa;
    min-height: 100vh;
}
  
.navbar-brand img {
    width: 100px;
}
  
.card-img {
    max-width: 100%;
    height: auto;
}
  
.card-body {
    padding: 0.5rem;
}
  
.card-title {
    margin-bottom: 0.25rem;
}
  
.fixed-bottom {
    background-color: white;
    padding: 1rem;
}

.custom-img {
    max-width: 100px;
    height: auto;
}
