.navbar-brand img {
  width: 120px;
}

.bg-red {
  background-color: #ea1d2c;
}

.no-flex-grow {
  flex-grow: 0 !important;
}

.navbar-toggler-white {
  border-color: #fff !important;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-toggler-icon-entregadores {
  background-image: url("../img/helmet.svg") !important;
}

.navbar-toggler-icon-emprestimos {
  background-image: url("../img/money.svg") !important;
}

.navbar-toggler-icon-cardapio {
  background-image: url("../img/menu.svg") !important;
}

ul li a:hover {
  text-decoration: underline;
}
